@import '../../Scss/itemContainer';

.collectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0 5em;

  .title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .preview {
    @include itemContainer;
  }
}
