.dropDownManu {
	width: 30rem;
	height: 40rem;
	max-height: 60rem;
	background: #fff;
	position: absolute;
	right: 3rem;
	top: 9rem;
	z-index: 1000;
	display: flex;
	padding: 4em 3em;
	box-shadow: 0 3rem 1.5rem rgba(#000, .3);
	button {
		margin: 0 auto;
		align-self: flex-end;
	}
}
